<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
<!--            配置数据源，创建connection对象-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useUnicode=true
                                            &amp;characterEncoding=utf-8
                                            &amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="chenchen123"/>
            </dataSource>
        </environment>
    </environments>
<!--    路径：target/classes之下的文件-->
<!--    指定其他mapper文件的位置：
        目的是找到其他sql语句
        -->
    <mappers>
        <mapper resource="com/cc/dao/StudentDao.xml"/>
    </mappers>
</configuration>